<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
<div>name: <%= user.name %></div>
<div>introduction: <%= user.introduction %></div>
<div><%= link_to "Edit", edit_user_path(user.id) %></div>